body{
	background: #ccc;
	margin: 0;
	font-family: Helvetica;
}
.container{
	margin: 0 auto;
	width: 700px;
	background: #fff url('alton-brown-onion-dip.jpg') no-repeat top center;
	padding-top: 200px;
	border-top: 10px solid #424242;
}


article{
	padding: 20px 40px;
	background: #fff;
}

.recipe{
	line-height: 2em;
}

.recipe h1{
	text-align: center;
	color: #000099;
	font-size: 200%;
}

.recipe h2{
	color: #0066FF;
}

.recipe ul{
	list-style-type: square;
}

.recipe p{
	text-indent: 50px;
}