body{
	background: #484848;
	margin: 0;
	font-family: Helvetica;
}
.container{
	margin: 0 auto;
	width: 1000px;
  min-height:100vh;
	background-color: white;
  position:relative;
}

.top {
  width: 1000px;
  height: 128px;
	background-image: url(images/header.png);
	background-position: right top;
	background-repeat: no-repeat;
}

#title{
	font-size:70px;
	position:absolute;
	top:10%;
	left:50%;

}
#welcome{
	font-size: 30px;
	position: absolute;
	left: 70%;
}
#gameStatus{
	font-size: 40px;
	position: absolute;
	top:20%;
	left: 20%;
	color: yellow;
	display:none;
	visibility: hidden;
}

.canvas {
	float:left;
	overflow: hidden;
  width: 600px;
  height: 500px;
  margin-top: 150px;
  margin-left: 160px;
	margin-bottom: 50px;
	background-image: url(hangman-images/canvas.png);
  background-repeat: no-repeat;

}

.alphabet{
	float:right;
	overflow: hidden;
  width: 180px;
  min-height:70px;
	margin-right: 5px;
	margin-top: 250px;
  border: 2px solid blue;
  padding: 20px;
}

.alphabet button{
  margin: 5px;
}

.wordSolve{
	clear: both;
	width: 600px;
	min-height: 100px;
	margin-left:200px;
	margin-top: 150px;
	border-radius: 25px;
	border: 2px solid navy;
	padding: 20px;
	white-space: pre;
	font-size: 35px;
	letter-spacing: 10px;
}

.buttons {
	display:block;
	margin-left: 165px;
	width:800px;
	height:140px;
	color:black;
	padding-top: 50px;
}

.buttons #saveButton{
	margin-right: 20px;
	width:200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid black;
	background-color:#0000FF;
	font-size:24px;
}

.buttons #hintButton{
	margin-right: 20px;
	width:200px;
	height:50px;
	color:black;
	border-radius: 20px;
	border: 2px solid black;
	background-color:yellow;
	font-size:24px;
}

.buttons #giveUpButton{
	width:200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid black;
	background-color:red;
	font-size: 24px;
}

.buttons #newButton{
	margin-top:10px;
	width:200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid black;
	background-color:#33CC00;
	font-size: 24px;
	visibility: hidden;
	display: none;
}
