body{
	background: #484848;
	margin: 0;
	font-family: Helvetica;
}
.container{
	margin: 0 auto;
	width: 1000px;
	background-color: black;
}

.top {
  width: 1000px;
  height: 128px;
	background-image: url(images/hamburger.png), url(images/header.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
}

.background {
	position: relative;
	width: 1000px;
	height: 1042px;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
 }


 .background img {
	 position: relative;
	 top: 50%;
	 left: 0;
	 margin-left: 220px;
 }
