body{
	background: #484848;
	margin: 0;
	font-family: Helvetica;
}
.container{
	margin: 0 auto;
	width: 1000px;
	min-height:100vh;
	background-color: black;
	position: relative;
}

.containerOverlay{
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: white;
  color: #aaa;
  opacity: .9;
  filter: alpha(opacity=60);
}

.top {
  width: 1000px;
  height: 128px;
	background-image: url(images/header.png);
	background-position: right top;
	background-repeat: no-repeat;
}

.background {
	position: relative;
	width: 1000px;
	height: 1042px;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
 }

.background img {
	position: relative;
	top: 50%;
	left: 0;
	margin-left: 220px;
 }

.signInForm{
 	width:500px;
 	height:300px;
 	margin-left: 300px;
 	margin-top:300px;
 	background-color:#003366;
 	border-radius: 20px;
 	box-shadow:0px 0px 10px 0px #424242;
 	padding-top:70px;
 	padding-left:115px;
 	box-sizing:border-box;
 	font-family:helvetica;
 	visibility:hidden;
 	display:none;
 }

.signInForm label{
	 font-size:35px;
	 position:absolute;
	 top:310px;
	 left:310px;
 }

.signInForm #closeButton{
	 position:absolute;
	 top:310px;
	 left:750px;
	 width:35px;
	 height:35px;
 }

.signInForm #user{
	width:250px;
	height:40px;
	border:3px solid silver;
	border-radius:4px;
	padding:5px;
}

.signInForm #password{
	margin-top:10px;
	width:250px;
	height:40px;
	border:3px solid silver;
	border-radius:4px;
	padding:5px;
}

.signInForm #loginButton{
	margin-top:10px;
	width:265px;
	height:40px;
	color:black;
	background-color:silver;
	font-size:24px;
}

.createForm{
   width:500px;
   height:400px;
	 margin-left: 300px;
   margin-top:300px;
   background-color:#003366;
   border-radius: 20px;
   box-shadow:0px 0px 10px 0px #424242;
   padding-top:100px;
   padding-left:115px;
   box-sizing:border-box;
   font-family:helvetica;
   visibility:hidden;
   display:none;
}

.createForm label{

   font-size:35px;
   position:absolute;
   top:310px;
   left:310px;

}

.createForm #closeCreate
{
   position:absolute;
   top:310px;
   left:750px;
   width:35px;
   height:35px;
}

.createForm #userCreate
{
   width:250px;
   height:40px;
   border:3px solid silver;
   border-radius:4px;
   padding:5px;

}
.createForm #passwordCreate
{
   margin-top:10px;
   width:250px;
   height:40px;
   border:3px solid silver;
   border-radius:4px;
   padding:5px;
}
.createForm #passwordReCreate{
   margin-top:10px;
   width:250px;
   height:40px;
   border:3px solid silver;
   border-radius:4px;
   padding:5px;
}
.createForm #signUpButton
{
   margin-top:10px;
   width:265px;
   height:40px;
   color:black;
   background-color:silver;
   font-size:24px;
}

.sideMenu {
   position:absolute;
   top:128px;
	 bottom:0px;
   width:140px;
   background-color:#000033;
   padding:15px 10px 5px 10px;
   font-size:30px;
   line-height:250%;
	 visibility: hidden;
   display:none;
}


.sideMenu div{
	color:#0099FF;
	background-color: white;
	padding-left: 20px;
  margin-top: 55px;
  border-radius: 25px;
  border: 2px solid black;
}


#title{
	font-size:60px;
	position:absolute;
	top:16%;
	left:50%;

}
#welcome{
	font-size: 25px;
	position: absolute;
	left: 70%;
}
#gameStatus{
	font-size: 40px;
	position: absolute;
	top:20%;
	left: 20%;
	color: yellow;
	display:none;
	visibility: hidden;
}

.canvas {
	float:left;
	overflow: hidden;
	width: 60%;
	height: 500px;
  margin-top: 150px;
  margin-left: 160px;
	margin-bottom: 50px;
	background-image: url(hangman-images/canvas.png);
  background-repeat: no-repeat;

}

.alphabet{
	float:right;
	overflow: hidden;
  width: 180px;
  min-height:70px;
	margin-right: 5px;
	margin-top: 250px;
  border: 2px solid blue;
  padding: 20px;
}

.alphabet button{
  margin: 5px;
}

.wordSolve{
	clear: both;
	width: 600px;
	min-height: 100px;
	margin-left:200px;
	margin-top: 150px;
	border-radius: 25px;
	border: 2px solid navy;
	padding: 20px;
	white-space: pre;
	font-size: 35px;
	letter-spacing: 10px;
}

.buttons {
	display:block;
	margin-left: 165px;
	width:800px;
	height:140px;
	color:black;
	padding-top: 50px;
}

.buttons #saveButton{
	margin-right: 20px;
	width:200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid black;
	background-color:#0000FF;
	font-size:24px;
}

.buttons #hintButton{
	margin-right: 20px;
	width:200px;
	height:50px;
	color:black;
	border-radius: 20px;
	border: 2px solid black;
	background-color:yellow;
	font-size:24px;
}

.buttons #giveUpButton{
	width:200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid black;
	background-color:red;
	font-size: 24px;
}

.buttons #newButton{
	margin-top:10px;
	width:200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid black;
	background-color:#33CC00;
	font-size: 24px;
	visibility: hidden;
	display: none;
}
.startNewForm{
	width:500px;
	height:300px;
	margin-left: 300px;
	margin-top:200px;
	background-color:#EBEBEB;
	border-radius: 20px;
	box-shadow:0px 0px 10px 0px #424242;
	padding-top:5px;
	padding-left:65px;
	box-sizing:border-box;
	font-family:helvetica;
	display: block;
}

.startNewForm input {
	width:375px;
	display:block;
	border-radius: 10px;
	border: 2px solid #474747;
	height: 25px;
	margin-bottom: 15px;
	box-shadow: 0px 0px 8px black;
}

.startNewForm #userNewButton{
	background-color:#00EEEE;
	margin-top: 40px;
	width: 150px;
	height: 35px;

}

p.userPG{
	text-indent: 50px;
	position: absolute;
	margin-top: 50px;
	margin-left:200px;
	width: 700px;
	height: 100px;
	padding: 5px;
	font-family: helvetica;
	background-color: white;
}

.savedGamesForm{
	width:500px;
	min-height:300px;
	margin-left: 300px;
	margin-top: 100px;
	background-color:#EBEBEB;
	border-radius: 20px;
	box-shadow:0px 0px 10px 0px #424242;
	padding-top:5px;
	padding-left:65px;
	box-sizing:border-box;
	font-family:helvetica;
	display: block;
}
