.container{
	float: left;
	width: 100%;
	overflow: auto;
}
.column{
	float: left;
	margin: 0 auto;
	width: 30%;
	background: yellow;
	
}
.column2{
	float: left;
	width: 40%;
	background: red;
	
}
.column3{
	float: left;
	width: 30%;
	background: orange;
	
}
/*
@media(min-width: 400px){
	.column{
		width: 100%;
	}
	.column2{
		width: 100%;
	}
	.column3{
		width: 100%;
	}
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){
	}

*/





